#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_configure:
	make ARCH= RELEASE=1

override_dh_auto_install:
	dh_auto_install --destdir=debian/m1n1/
	mkdir -p debian/m1n1/usr/lib/m1n1/
	cp build/m1n1.bin debian/m1n1/usr/lib/m1n1/

